################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MaturityAssessment/MaturityAssessment/bin/Debug/net5.0
/MaturityAssessment/MaturityAssessment/obj
